body{
background-size:cover;
background-repeat:no-repeat;
}
#form{
border:0px;
border-radius:7px;
margin-left:0%;
margin-top:0%;
background-color:#2C3E50;
height:750px;
width:100%;
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  width:1330px;
  margin-left:0%;
  border:0px;
  border-radius:7px;
}
li{
  float: left;
}
li a{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  width:150px;
}
li a:hover{
  background-color: green;
  border-radius:7px;
  border:0px;
}
input{
float:right;
margin-top:2px;
height:43px;
background-color:white;
color:black;
font-weight:bold;
border:0px;
border-radius:7px;
}
#out{
float:right;
}
#outt:hover{
background-color:red;
border-radius:7px;
}

#copyrights{
margin-top:0%;
border:0px;
border-radius:7px;
color:white;
width:250px;
}