body{
background-repeat:no-repeat;
background-size:cover;
}
#copyrights{
margin-top:10%;
border:0px;
border-radius:7px;
color:white;
width:250px;
}
fieldset{
margin-left:35%;
margin-top:7%;
border:0px;
border-radius:7px;
background-image:url('img2.jpg');
height:222px;
width:500px;
}
#privacy{
margin-top:0%;
border:0px;
border-radius:7px;
background-image:url('img3.jpg');
height:50px;
text-align:center;
color:white;
}
.1{
border-radius:7px;
height:20px;
width:200px;
text-align:left;
}
.2{
border-radius:7px;
height:30px;
width:200px;
text-align:left;
background-color:#e0e2e4;
}
#name{
border:0px;
border-radius:7px;
margin-left:0.8%;
margin-top:0.9%;
background-color:#2C3E50;
color:white;
width:200px;
}